body{
    text-align: justify;
    margin: 5px auto ;
    width: 650px;
}
div {
    font-family: sans-serif;
    float: left;
    margin: 2px;
    box-sizing: border-box;

}
h5{
    text-align: left;
}
figure{
    text-align: right;
}
img{
    max-width: 50%;
}

